body, html {
  padding: 0;
  margin: 0;
  font-family: "Inconsolata", sans-serif;
}

.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("wp7287456.jpg");
  min-height: 100%;
}

.menu {
  display: none;
}

p {
   text-indent: 45px;
  font-family: "Times New Roman", Times, serif;
}
form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 75%;
  /* Form outline */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 35%;
  text-align: right;
  margin-left: 5%;
}

input,
textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;
  text-align: left;
  /* Uniform text field size */
  width: 20%;
  box-sizing: border-box;

  /* Match form field borders */
  border: 0px solid #999;
  border-radius: 0;
  border-left: 2px solid #999;
  padding: 1em;
}

input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border: 0px solid #999;
  border-left: 2px solid #000;
/*   border-color: #000; */
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;

  /* Provide space to type some text */
  height: 5em;
}

.button {
  /* Align buttons with the text fields */
  padding-left: 10%; /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: .5em;
}

#landing {
  padding: 0;
  margin: auto;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#hero_img {
  width: 100%;
  height: 100vh;
}

#hero_text {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

#data_form {
  margin-top: 5%;
}